<main class="loginDesign">
    <div class="waves">
        <img src="./assets/img/password.png" alt="passwordImg">
    </div>
    <div class="login">
        <div class="login-data">
            <img src="./assets/img/login.png" alt="thinkingImg">
            <h1>Inicio de sesión</h1>
            <form action="#" class="login-form">
                <div class="input-group">
                    <label class="input-fill">
                        <input type="email" name="email" id="email" required
                        [(ngModel)]="usuario" class="">
                        <span class="innput-label">Correo Electrónico</span>
                        <i class="fas fa-lock"></i>
                    </label>
                </div>
                <div class="input-group">
                    <label class="input-fill">
                        <input type="password" name="password" id="password" required
                        [(ngModel)] = "pass" class="">
                        <span class="innput-label">Contraseña</span>
                        <i class="fas fa-envelope"></i>
                    </label>
                </div>
                <div class="buttons">
                    <button classs="btn btn-success float-end" (click)="login()">
                        Entrar
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>
                
            
            