<section>
<div class="container">
    <div class="row">
        <div class="col-lg-4 mx-auto">
            <div class="card">
                <div class="card-header">
                    Upload
                </div>
                <div class="card-body">
                    <form (submit)="uploadPhoto(title, description)">
                        <div class="input-box">
                            <input type="text" class="form-control" placeholder="Photo's Title" required #title>
                        </div>
                        <div class="input-box">
                            <textarea class="form-control" placeholder="Photo's Description" required rows="2" #description></textarea>
                        </div>

                        <input type="file" class="d-none" (change)="onPhotoSelected($event)" #photoInput>
                        <img [src]="photoSelected || 'assets/img/noImage.png'" alt="No Image" (click)="photoInput.click()">
                    
                        <button class="btn btn-primary btn-block">
                            Upload
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</section>