
<section class="d-flex justify-content-center clearfix principal">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-12" id="titulo">
                <h1>*nombre programa*</h1>
                <p class="intro">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium, dolor odio ducimus accusamus facere fuga quasi asperiores doloremque aut consequatur voluptas consectetur rerum iste impedit dolore saepe id blanditiis nostrum!</p>
            </div>
                <div class="divisor"></div>
           <!--  <div class="col-12 boton">
                <a href="#" class="btn btn-two"><span>Registrate</span></a>
            </div> -->
        </div>
        <div class="row d-flex justify-content-center textImg">
            <div class="celda">
                <div class="col-6 d-flex justify-content-center txt">
                    <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Error debitis rem non a id eius sit deleniti hic, voluptatem velit saepe nulla accusantium doloribus minus recusandae cumque facere nisi sed.
                        Perspiciatis ipsa dignissimos amet, facilis at dolore eligendi harum qui sit autem iusto reiciendis non eos perferendis nihil vel, odit pariatur maxime laborum sed magnam id iure maiores commodi. Dicta.
                        <!-- <a href="">Entrar</a> -->
                    </p>
                </div>
                <div class="col-6 d-flex justify-content-center img">
                    <img src="./assets/img/ordenador.png" alt="imgOrdenador">
                </div>    
            </div>
        </div>
    </div>
</section>
    <div class="fondo">
        <div class="area" >
            <ul class="circles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
    </div>
        


