#navbarNav{
    display: flex;
    align-items: center;
    justify-content: right;
}
#navbarNav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 0vh 1vh;
}
.nav-link, .navbar-brand{
    color:#06053C ;
}
  


